<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div>
        <input [(ngModel)]="keyword" type="text">
        <button (click)="search()" class="btn btn-outline-success">Search</button>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>ID</th><th>Name</th><th>Price</th><th>Actions</th>
        </tr>
        </thead>
        <tbody *ngIf="filteredProducts">
        <tr *ngFor="let p of filteredProducts">
          <td>{{p.id}}</td>
          <td>{{p.name}}</td>
          <td>{{p.price}}</td>
          <td>
            <button (click)="editProduct(p)" class="btn btn-outline-primary">Edit</button>
            <button (click)="deleteProduct(p)" class="btn btn-outline-danger">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="editingProduct">
  <h3>Edit Product</h3>
  <label for="name">Name:</label>
  <input [(ngModel)]="editingProduct.name" id="name" type="text" />

  <label for="price">Price:</label>
  <input [(ngModel)]="editingProduct.price" id="price" type="number" />

  <button (click)="saveProduct()">Save</button>
  <button (click)="cancelEdit()">Cancel</button>
</div>
